.heading {
    width: fit-content;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: var(--text-color);
    z-index: 1000;
}
.heading::selection,
.heading b::selection {
    background-color: var(--background-color);
    color: var(--text-selection-color);
}
.heading::-moz-selection,
.heading b::-moz-selection {
    background-color: var(--background-color);
    color: var(--text-selection-color);
}
