@font-face {
    font-family: "Bebas Neue";
    src: url("/fonts/BebasNeue-Regular.woff2") format("woff2"),
        url("/fonts/BebasNeue-Regular.woff") format("woff");
    font-display: block;
}

:global(strong),
:global(b) {
    font-weight: 700;
}

:global(i),
:global(em) {
    font-style: italic;
}

.font-oswald {
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
}
.font-merriweather {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.font-raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.font-baskerville {
    font-family: "Libre Baskerville", serif;
    font-style: normal;
}
.font-bebas-neue {
    font-family: "Bebas Neue", sans-serif;
    font-optical-sizing: auto;
    font-size: 400 !important;
    font-style: normal;
}
.font-arial {
    font-family: Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.font-righteous {
    font-family: "Righteous", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.font-playfair {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: italic;
}
.font-fira-code {
    font-family: "Fira Code", monospace;
    font-style: normal;
    font-optical-sizing: auto;
}
